# see https://accesto.com/blog/docker-reverse-proxy-using-traefik/
version: "3.9"
services:
  traefik:
    image: "traefik:v2.6"
    command:
      #- "--log.level=DEBUG"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
    ports:
      - "80:80"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    labels:
      - traefik.enable=false

  # whoami:
  #   image: "traefik/whoami"
  #   container_name: "simple-service"
  #   labels:
  #     - "traefik.enable=true"
  #     - "traefik.http.routers.whoami.rule=Host(`whoami.localhost`)"
  #     - "traefik.http.routers.whoami.entrypoints=web"

  vite:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    working_dir: /app/apps/audio-app
    volumes:
      - "./:/app"
    env_file:
      - ".env"
    labels:
      - traefik.enable=true
      - traefik.http.routers.vite.rule=PathPrefix(`/`)

  backend:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    working_dir: /app/apps/audio-backend
    volumes:
      - "./:/app"
    env_file:
      - ".env"
    labels:
      - traefik.enable=true
      - traefik.http.routers.backend.rule=PathPrefix(`/api`)

  payment-module:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    working_dir: /app/apps/payment-module
    volumes:
      - "./:/app"
    env_file:
      - ".env"
    labels:
      - traefik.enable=true
      - traefik.http.routers.payment-module.rule=PathPrefix(`/payment-module`)

  # auth-server:
  #   image: thomseddon/traefik-forward-auth:latest
  #   environment:
  #     - FORWARD_AUTH_PROVIDERS_GITHUB_CLIENT_ID=your-github-client-id
  #     - FORWARD_AUTH_PROVIDERS_GITHUB_CLIENT_SECRET=your-github-client-secret
  #     - FORWARD_AUTH_PROVIDERS_GITHUB_ORG=your-github-organization (optional)
  #     - FORWARD_AUTH_SUCCESS_URL=http://your-service.example.com
  #     - FORWARD_AUTH_LOG_LEVEL=debug (optional)
  #   ports:
  #     - "4181:4181"
  #   labels:
  #     - "traefik.enable=false"
