http:
  routers:
    vite:
      rule: "PathPrefix(`/`)"
      service: vite
      middlewares:
        #- "traefik-forward-auth"
      entryPoints:
        - web
        - web-secure
      #tls:
      #  certresolver: myResolver
      #  domains:
      #    - main: 7frank.dev
  services:
    vite:
      loadBalancer:
        servers:
          - url: "http://vite:80"
